body {
    background-image: url("/images/debut_light.png");
}

.post-details-header {
    background-image: url("/images/diagonales_decalees.png");
    text-align: right;
}
.post-options-footer {
    background-image: url("/images/diagonales_decalees.png");
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: right;
}

.row .post-options-footer {
    margin-bottom: 12px;
}

.post-content {
    background-image: url("/images/linedpaper.png");
}

.comment-details {
    background-image: url("/images/diagonales_decalees.png");
}
.comment-content {
    background-image: url("/images/linedpaper.png");
}
.comment-controls {
    background-image: url("/images/diagonales_decalees.png");
}
.comment-date {
    text-align: right;
}
.row .comment-section {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.row .comment-controls {
    text-align: right;
}

.row .new-comment-divider {
    margin-top:12px;
    margin-bottom:12px;
}

.company-header {
    text-align: center;
}
.services-list {
    text-align: center;
}

.product-item {
    height: 200px;
    text-align:center;
    width: 200px;
    margin-left:45px;
    float: left;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #efefef;
    -moz-box-shadow: 0 0 5px #efefef;
    box-shadow: 0 0 5px #efefef;
    padding: 20px 10px 10px;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
    background: -moz-linear-gradient(top,  #fff,  #efefef);
}

.product-item h3 {
    margin: 5px 0 10px;
    font-size: 14px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #cc0000;
}

.product-item p {
    color: #222;
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 5px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.email-message {
    height: 120px;
}

.product-feature {
    max-height: 420px;
}

.feature-image img {
    max-height:420px;
}

p, h2, h3, li {
    font-family: 'Crimson Text', serif;
}

p, li {
    font-size: 18px;
}

h1 {
    font-family: 'Droid Serif', serif;
}