body {
    background-image: url("/images/debut_light.png");
}

.post-details-header {
    background-image: url("/images/diagonales_decalees.png");
    text-align: right;
}
.post-options-footer {
    background-image: url("/images/diagonales_decalees.png");
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: right;
}

.row .post-options-footer {
    margin-bottom: 12px;
}

.post-content {
    background-image: url("/images/linedpaper.png");
}

.comment-details {
    background-image: url("/images/diagonales_decalees.png");
}
.comment-content {
    background-image: url("/images/linedpaper.png");
}
.comment-controls {
    background-image: url("/images/diagonales_decalees.png");
}
.comment-date {
    text-align: right;
}
.row .comment-section {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.row .comment-controls {
    text-align: right;
}

.row .new-comment-divider {
    margin-top:12px;
    margin-bottom:12px;
}